In [1]:
import pyodbc
import pandas as pd

In [4]:
server = '.\RQ_SERVER'
database = 'uot'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database)
cursor = cnxn.cursor()

query = "SELECT * FROM seriously_injury_rl;"
df = pd.read_sql(query, cnxn)
print(df)

           ACCNUM  ObjectId     INVTYPE    INVAGE INJURY FATAL_NO  INITDIR  \
0           56815     16515      Driver  45 to 49   None     None    South
1           56815     16516      Driver  50 to 54  Major     None     East
2           56815     16517      Driver  55 to 59   None     None     East
3           56815     16518      Driver  35 to 39   None     None    North
4           93249     16533      Driver  35 to 39   None     None     West
...           ...       ...         ...       ...    ...      ...      ...
16855  9002374451     16643  Pedestrian  50 to 54  Major     None     East
16856  9002374451     16644   Passenger  20 to 24   None     None     None
16857  9002374451     16645   Passenger  25 to 29   None     None     None
16858  9002500056     16141      Driver  40 to 44   None     None     West
16859  9002500056     16148  Pedestrian  80 to 84  Major     None  Unknown

                         VEHTYPE     MANOEUVER                    DRIVACT  \
0                   Delivery Van   Going Ahead  Disobeyed Traffic Control
1      Automobile, Station Wagon   Going Ahead           Driving Properly
2                  Pick Up Truck   Going Ahead           Driving Properly
3      Automobile, Station Wagon       Stopped           Driving Properly
4                  Pick Up Truck  Turning Left              Improper Turn
...                          ...           ...                        ...
16855                       None          None                       None
16856                       None          None                       None
16857                       None          None                       None
16858  Automobile, Station Wagon     Reversing                      Other
16859                       None          None                       None

       ...                           NEIGHBOURHOOD collision_lat  \
0      ...              West Humber-Clairville (1)      -79.5755
1      ...              West Humber-Clairville (1)      -79.5755
2      ...              West Humber-Clairville (1)      -79.5755
3      ...              West Humber-Clairville (1)      -79.5755
4      ...  Waterfront Communities-The Island (77)      -79.3497
...    ...                                     ...           ...
16855  ...                    North Riverdale (68)      -79.3507
16856  ...                    North Riverdale (68)      -79.3507
16857  ...                    North Riverdale (68)      -79.3507
16858  ...             Corso Italia-Davenport (92)      -79.4489
16859  ...             Corso Italia-Davenport (92)      -79.4489

      collision_long red_light_lat red_light_long right_light_camera  \
0            43.7018          None           None                  N
1            43.7018          None           None                  N
2            43.7018          None           None                  N
3            43.7018          None           None                  N
4            43.6519          None           None                  N
...              ...           ...            ...                ...
16855        43.6777          None           None                  N
16856        43.6777          None           None                  N
16857        43.6777          None           None                  N
16858        43.6765          None           None                  N
16859        43.6765          None           None                  N

      LINEAR_NAME_FULL_1 LINEAR_NAME_FULL_2 ACTIVATION_DATE      ROAD_CLASS
0                   None               None            None  Major Arterial
1                   None               None            None  Major Arterial
2                   None               None            None  Major Arterial
3                   None               None            None  Major Arterial
4                   None               None            None            None
...                  ...                ...             ...             ...
16855               None               None            None  Major Arterial
16856               None               None            None  Major Arterial
16857               None               None            None  Major Arterial
16858               None               None            None  Major Arterial
16859               None               None            None  Major Arterial

[16860 rows x 61 columns]

In [5]:
df.to_csv("seriously_injured_rl.csv")